body {
  background-color: #becbce;
  font-family: "Roboto", serif;
}

#container {
  text-align: center;
  margin-top: 100px;
}

#scoreboard, #runningscore {
  margin: 50px 0px;
  font-size: 24px;
  font-weight:normal;
}

#playerscore {
  display: inline-block;
  margin-right: 40px;
  font-size: 30px;
  padding: 10px 20px;
  border: 5px solid;
}

#computerscore {
  display: inline-block;
  margin-left: 40px;
  font-size: 30px;
  padding: 10px 20px;
  border: 5px solid;
}

#versus {
  margin-top: 50px;
}

#input {
  margin-top: 50px;
}

#rockbtn,
#paperbtn,
#scissorsbtn {
  width: 120px;
  height: 60px;
  font-size: 14px;
  background: #4697d1;
  color: white;
  border-style: hidden;
  border-radius: 6px;
  margin-right: 20px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: 0;
  margin-top: 50px;
}

#rockbtn:hover,
#paperbtn:hover,
#scissorsbtn:hover {
  transform: scale(1.1);
}

#rockbtn:active,
#paperbtn:active,
#scissorsbtn:active {
  opacity: 50%;
}

#reset{
  background-color:red;
  margin-top:50px;
}
