body {
  background-color: #becbce;
  font-family: "Roboto", serif;
}

#container {
  text-align: center;
  margin-top: 200px;
  font-size: 32px;
}

#scoreboard,
#runningscore {
  margin: 70px 0px;
  font-size: 24px;
  font-weight: normal;
}

#playerscore {
  display: inline-block;
  margin-right: 40px;
  font-size: 30px;
  padding: 10px 20px;
  border: 2px solid green;
  margin-top: 30px;
  border-radius: 5px;
}

#computerscore {
  display: inline-block;
  margin-left: 40px;
  font-size: 30px;
  padding: 10px 20px;
  border: 2px solid red;
  margin-top: 30px;
  border-radius: 5px;
}

#versus {
  margin-top: 50px;
}

#input {
  margin-top: 50px;
}

#rockbtn,
#paperbtn,
#scissorsbtn {
  width: 120px;
  height: 60px;
  font-size: 14px;
  background: #4697d1;
  color: white;
  border-style: hidden;
  border-radius: 6px;
  margin-right: 20px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: 0;
  margin-top: 50px;
}

#rockbtn:hover,
#paperbtn:hover,
#scissorsbtn:hover {
  transform: scale(1.1);
}

#rockbtn:active,
#paperbtn:active,
#scissorsbtn:active {
  opacity: 50%;
}

#reset {
  background-color: red;
  margin-top: 100px;
  width: 120px;
  height: 60px;
  font-size: 14px;
  color: white;
  border-style: hidden;
  border-radius: 6px;
  margin-right: 20px;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  outline: 0;
}

.whoweplayingagainst {
  font-size: 10px;
  margin-left: 500px;
  margin-top: 5px;
  color: blue;
}

@media only screen and (max-width: 600px) {
  .whoweplayingagainst {
    color: red;
    margin-left: 0px;
    margin-top: 10px;
  }
  #container {
    margin-top: 20px;
    font-size: 20px;
  }
}